<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Karumi Test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFF467BF237AB2D0006FA185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFF467D5237AB2D5006FA185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFF467E0237AB2D5006FA185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
